@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');

:root {
    font-family: "montserrat","Arial",sans-serif;
}

.MuiDialog-paperWidthMd {
    overflow: hidden !important;
}

.MuiDialog-container {
    height: auto !important;
}

.MuiDialog-root {
    overflow: auto !important;
}

.MuiTypography-h6 {
    font-family: "montserrat","Arial",sans-serif !important;
    color: #18203e;
    font-weight: 600 !important;
    line-height: 1.6;
    letter-spacing: .1em;
    font-size: 24px !important;
}

a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
    font-family: "montserrat","Arial",sans-serif !important;
    font-weight: 700 !important;
    color: #969696 !important;
    font-size: 14px !important;
}

label + .MuiInput-formControl {
    margin-top: 16px;
    padding: 5px 0;
}

.MuiInput-underline:after, .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid #d3a059 !important;
}

.MuiInputLabel-shrink {
    color: #d3a059 !important;
}

.MuiFormControl-marginDense {
    margin: 18px 0 !important;
}

button {
    background: #d3a059 !important;
    color: #FFF !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: .5em 1em;
    border-radius: 0 !important;
}

.MuiDialogActions-root {
    padding: 20px !important;
    justify-content: flex-start !important;
}

.MuiSelect-select.MuiSelect-select {
    padding-top: 1.35em !important;
}


.MuiFormControl-root {
    width: 100% !important;
}

label#demo-simple-select-label {
    top: 14px !important;
}

.close_Modal {
    cursor: pointer;
}